
//cool pllette, but too small
// $black: #264653;
// $green: #2a9d8f;
// $yellow: #e9c46a;
// $orange: #f4a261;
// $red: #e76f51;

//pico-8
// $light-blue: #29ADFF;
// $dark-blue: #1D2B53;
// $orange: #FFA300;
// $yellow: #FFEC27;
// $green: #00E436;
// $purple: #83769C;
// $red: #FF004D;

// funkyfuture 8
$black: #2b0f54;
$light-blue: #49e7ec;
$light-blue: #49e7ec;
$dark-blue: #3368dc;
$orange: #ff8142;
$yellow: #ffda45;
// $green: #fff7f8;
$green: #88da88;
$purple: #ab1f65;
$red: #ff4f69;

html {
  background: $black;
}

* {
  box-sizing: border-box;
}

.block {
  &.black{ fill: $black }
  &.light-blue{ fill: $light-blue }
  &.light-blue{ fill: $light-blue }
  &.dark-blue{ fill: $dark-blue }
  &.orange{ fill: $orange }
  &.yellow{ fill: $yellow }
  &.green{ fill: $green }
  &.purple{ fill: $purple }
  &.red{ fill: $red }
}

svg {
  overflow: visible;
}

.gridlines {
  z-index: 2;

  .rows, .columns {
    stroke: $orange;
    // stroke-width: 1px; 
    stroke-linecap: square;
    // opacity: 0.5;
  }
}
