
@keyframes wiggle {
  $intensity: 0.3rem;
  0% {
    transform: translateY($intensity);
  }
  50% {
    transform: translateY($intensity * -1) translateX($intensity * -0.5);
  }
  100% {
    transform: translateY($intensity);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes color-blink {
  from {
    color: $red;
  }
  
  50% {
    color: white;
    
  }
  
  to {
    color: $red;
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 10px));
    // transform: translate(49%, 50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}