@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes color-blink {
  from {
    color: $red;
  }
  
  50% {
    color: white;
    
  }
  
  to {
    color: $red;
  }
}