

.highscore-list {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  width: 15em;
  font-size: 1.3rem;
  transform: translate(-50%, -50%);
  animation: 0.2s fade-in 3s;
}

.highscore-table-container {
  max-height: 400px;
  overflow-y: hidden;
}

.highscore-title-container {
  text-align: center;
  background: $red;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0.5em;

}

.highscore-title {
  margin: 0;
  padding: 0.2em 2.5rem;
  position: relative;
  white-space: nowrap;
  @include text-shadow(0.2rem, false);
  

  


  &.scroll {
    // animation: marquee 5s linear infinite;
    // transition: transform 5s linear;
    // transform: translateX(-560px);
  }
}

.highscore-table {
  width: 100%;
  transition: transform 2s ease-out;

  tbody {
    tr.current {
      animation: color-blink 0.4s steps(2,start) infinite;

      .rank {
        color: inherit;
      }
    }

    tr.placeholder {
      color: #868686;
    }

    td {
      padding: 0.2em 1rem;

      &.rank {
        color: #868686;
        padding-left: 0;
      }

      &.score {
        text-align: right;
        padding-right: 0;
      }
    }
  }
}
