.three-letter-input {
  width: 300px;
  height: 200px;
  border: 1px solid $orange;
  text-align: center;

  .title {
    margin-top: 30px;
    margin-bottom: 0;
    @include text-shadow(0.1em, true);
  }

  .letter-input {
    // display: inline-block;
    margin: 0 1rem;
    font-size: 2rem;
    text-align: center;

    .letter {
      padding-left: 0.2em;
    }

    .increment,
    .decrement {
      color: grey;
      cursor: pointer;
    }

    &.active {
      color: $orange;

      .increment, .decrement {
        color: inherit;
      }
    }
  }

  .end {
    // display: inline-block;

    &.active {
      color: $orange;
    }
  }
  
  .input-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.input-name {
  background: none;
  outline: none;
  border: none;
  font-family: gameboy;
  width: 100%;
  padding: 0;

  animation: color-blink 0.4s steps(2, start) infinite;
}

.input-name-standalone {
  max-width: 18em;
  font-size: 2rem;

  .letter {
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.5em;
    cursor: pointer;
    text-align: center;
    padding-left: 0.7em;

    &:hover {
      border-color: $orange;
    }
  }
}

// .input-name {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   .title {
//     @include text-shadow(0.2rem, false);
//   }
// }

// .name-group {
//   display: flex;

//   .name {
//     font-family: gameboy;
//     background: none;
//     color: white;
//     border: none;
//     width: 3rem;
//     margin: 0.3rem;

//     &:focus {
//       outline: none;
//     }
//   }
// }
