@import "./variables.scss";

:root {
  --stage-height: 0px;
  --stage-width: 0px;
}

html {
  background: $black;
  font-family: gameboy;
  font-size: 62.5%;
  color: white;
  touch-action: none;
}

a {
  color: white;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;

  &:after {
    //scanlines
    @keyframes scanlines {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-4px);
      }
    }
    content: "";
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.25) 0);
    background-size: 100% 4px;
    opacity: 0.3;
    animation: scanlines 1s infinite linear;
  }
}

* {
  box-sizing: border-box;
}

// prettier-ignore
.block {
  &.black { fill: $black; }
  &.light-blue { fill: $light-blue; }
  &.light-blue { fill: $light-blue; }
  &.dark-blue { fill: $dark-blue; }
  &.orange { fill: $orange; }
  &.yellow { fill: $yellow; }
  &.green { fill: $green; }
  &.purple { fill: $purple; }
  &.red { fill: $red; }
}

.stage {
  position: relative;
  transition: opacity 2s;

  // width: var(--stage-width);
  // display: flex;
  // justify-content: center;
  // align-items: center;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--stage-height); //why cant i do 100%?
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    background: $black;
    transition: opacity 2s;
  }

  &.is-game-over {
    &::after {
      opacity: 0.7;
    }
  }
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;

  // animation: wiggle 1.05s infinite;
  // animation-timing-function: ease-in-out;

  font-size: 2.2rem;
  @include text-shadow(3px, true);
}

.splash {
  text-align: center;
  cursor: default;

  .title {
    display: inline-block;
    font-size: 2.6rem;
    margin-bottom: 10px;
    $shadow-distance: 0.1em;
    transition: text-shadow 0.5s;
    @include text-shadow(3px, true);
  }

  .begin {
    margin-top: 40px;
    .letter {
      @include text-shadow(0.1em, false);

      transition: transform 0.1s, text-shadow 0.2s;
      display: inline-block;
      cursor: default;
      min-width: 1.4rem;
      font-size: 1.4rem;
      animation: wiggle 1.05s infinite;
      animation-timing-function: ease-in-out;
    }
  }

  .social {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    opacity: 0.4;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }
  }
}

svg {
  overflow: visible;
  filter: drop-shadow(0 0 2px $orange);
}

.gridlines {
  z-index: 2;

  .rows,
  .columns {
    // stroke: darken($orange, 50%);
    stroke: $orange;
    stroke-linecap: square;
    // opacity: 0.4;
  }
}

.ui {
  text-align: right;
}

.ui-block {
  margin: 0 0 20px 20px;
  border: 1px solid $orange;
  padding: 10px;
  position: relative;
  // width: 75px;
  box-shadow: 0 0 2px $orange;
  user-select: none;

  .value {
    @include text-shadow(2px, false);
    font-size: 2.2rem;
  }

  .label {
    font-size: 1rem;
    position: absolute;
    top: -7px;
    left: 5px;
    background: $black;
    // color: gray
    padding: 0 4px 0 8px;
  }
}


